<p>
  First and foremost, we recommend the <a href="https://software-carpentry.org/lessons/">lessons from Software Carpentry</a> that we followed for this course.  We've added links to those lessons in the syllabus above.
</p>  
<h3></h3>
Downloadable etherpad notes: <a href="">HTML</a>, <a href="">PDF</a>, <a href="">Word Doc</a>.
<h3> Programming &amp; Data Analysis with R </h3>
<ul>
  <li><strong>General R Help</strong>
  	<ul>
      <li><a href="https://rdrr.io/">rdrr.io</a>: Nicely formatted help for functions in R packages.  Easier to read and even lets you run examples in your browser!</li>
      <li><a href="https://www.rstudio.com/resources/cheatsheets/">RStudio Cheatsheets</a>: Especially recommend data wrangling, data visualization, and R markdown.</li>
      <li><a href="http://stackoverflow.com">stackoverflow.com</a>: Great place to ask for or search for help with specific problems.  Many package authors monitor this website.</li>
  	  <li><a href="http://style.tidyverse.org/">Tidyverse (dplyr, tidyr, ggplot) Style Guide</a>: Write neat readable code</li>
  	  <li><a href="http://www.cookbook-r.com/">R Cookbook</a>: Online textbook of sorts</li>
  	</ul>   
  </li>
  <li><strong>Making ggplot Graphs</strong>
    <ul>
      <li><a href="http://docs.ggplot2.org/">ggplot2 Online Documentation</a>: Shows all the different geometries/plot types you can add, with examples </li>
      <li><a href="http://www.cookbook-r.com/Graphs/">R Cookbook</a>: Section on graphing</li>
      <li><a href="http://www.sthda.com/english/wiki/ggplot2-essentials">ggplot2 Essentials</a>: This website has a wealth of information on more advanced or complicated graphs</li>
      <li><a href="http://shiny.stat.ubc.ca/r-graph-catalog/">R Graph Catalog</a>: Lots of graph examples with code by another Software Carpentry instructor</li>
      <li><a href="https://cran.r-project.org/web/packages/cowplot/vignettes/introduction.html">Cowplot package</a>: A theme and some extra tools (combining graphs) for making publication-ready graphs in ggplot2</li> 
    </ul>
  </li>
  <li><strong>Data Wrangling</strong>
    <ul>
      <li><a href="https://rdrr.io/cran/dplyr/">dplyr package documentation</a>: Man pages and vignettes showing how to use additional dplyr functions</li>
      <li><a href="https://rdrr.io/cran/tidyr/">tidyr package documentation</a>: Man pages and vignettes showing how to use additional tidyr functions</li>
      <li><a href="https://github.com/rstudio/cheatsheets/raw/master/data-transformation.pdf">Data Transformation Cheat Sheet</a>: RStudio cheatsheet on data manipulation</li>
      <li><a href="http://www.cookbook-r.com/Manipulating_data/">R Cookbook</a>: Section on data manipulation</li>     
      <li><a href="https://www.rstudio.com/resources/webinars/data-wrangling-with-r-and-rstudio/">RStudio webinar</a></li>
	  </ul>
  </li>
  <li><strong>R Markdown &amp; R Notebooks</strong>
    <ul>
      <li><a href="https://rmarkdown.rstudio.com/">R Markdown Official Website</a>: Lots of documentation, examples, and webcasts here</li>
      <li><a href="http://rmarkdown.rstudio.com/authoring_quick_tour.html">Quick tour webcast</a></li>
      <li><a href="https://rmarkdown.rstudio.com/lesson-1.html">Additional lessons with R Markdown</a></li>
	  </ul>
  </li>
  <li><strong>Workshop Code</strong>
    <ul>
      <li><a href="">Day 1: Intro R</a></li>
      <li><a href="">Day 1: programming with R and ggplot</a></li>
      <li><a href="">Day 2: Data wrangling in R</a></li>
	  </ul>
  </li>  
</ul>   

<h3> Using Git and Github </h3>
<ul>
  <li><strong>Quick References</strong>
	  <ul>
      <li><a href="https://education.github.com/git-cheat-sheet-education.pdf">Git Cheatsheet</a></li>
      <li><a href="https://swcarpentry.github.io/git-novice/reference/">Concepts</a></li>
      <li><a href="https://github.com/k88hudson/git-flight-rules">When things go wrong</a></li>		
      <li><a href="http://r-pkgs.had.co.nz/git.html">Using Git through RStudio</a>: A nice, thorough how-to of stuff we didn't get to cover with git.</li>
	  </ul>
  </li>  
  <li><strong>Sharing Data</strong> (will often issue a DOI for your work)
	  <ul>
      <li><a href="http://www.nature.com/sdata/data-policies/repositories">Nature: Discipline-specific data repositories</a></li>
      <li><a href="http://zenodo.org/">Zenodo</a>: Catch-all repository</li>	
	  </ul>
  </li>
</ul>
